/* Default CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

img{
    max-width: 100%;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.margin-left{
    margin-left: 7px;
}

.margin-right{
    margin-right: 7px;
}

/* Header CSS */

.container{
    width: 1280px;
    margin: auto;
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

header{
   background-color: #a29bfe;
   
   padding: 0 20px;
}

header img{
    width: 150px;
    height: auto;
}

.header-left{
   
}

.header-right{
   
}

.header-right ul{
    display: flex;
}

.header-right ul li{
    list-style: none;
}

.header-right ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 74px;
    background-color: #6c5ce7;
    margin-left: 20px;
    padding: 10px 28px;
    border-radius: 5px;
    transition: 0.4s;
}

.header-right ul li a:hover{
    color: #413aa8;
    background-color: #c8c1ff;
}

.name{
    color:#413aa8;
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    background-image: url(images/banner-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner-caption{
  background-color: #c8c1ffc6;
  padding: 50px;
  border-radius: 8px;
  color: #413aa8;
}

.banner-left{
    width: 60%;
}

.banner-right{
    width: 40%;
}


/* Service Item */

.service-area{
    display: flex;
    padding: 50px 0;
}

.service-item{
    width: 33.33%;
    box-shadow: 5px 5px 20px lightgrey;
    padding: 30px;
    border-radius: 8px;
    
}

.service-item span{
    font-size: 35px;
    height: 60px;
    width: 60px;
    background-color:#a29bfe;
    line-height: 60px;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.service-item h3{
    margin-top: 20px;
    margin-bottom: 10px;
}

.about-section{
    padding: 50px 0;
    max-width: 900px;
    margin: auto;
}

.about-section h2{
    margin-bottom: 20px;
    font-size: 25px;
}


.blog-area h2{
    text-align: center;

}


/* Blog Area */

.blog-hw{
    padding: 30px;
}

.blog-section{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    margin: auto;
    margin-bottom: 50px;
}

.blog-left-content{
    width: 70%;
    display: flex;
}

.blog-right-notification{
    width: 30%;
}

.blog-item{
    box-shadow: 5px 5px 20px lightgray;
    border-radius: 16px;
    padding: 30px 30px 40px 30px;
}

.blog-item img{
    margin-bottom: 20px;
}

.blog-item p{
    margin: 20px 0;
}


.blog-right-notification{
    box-shadow: 5px 5px 20px lightgray;
    border-radius: 16px;
    padding: 30px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-right-notification h2{
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding-bottom: 6px;
}

.blog-right-notification ul{
    list-style: none;
}

.blog-right-notification ul li{
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #fafafa;
    border-radius: 5px;
}

.footer-right ul li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    font-size: 20px;
    color: #fff;
}

.footer-right ul li i{

    color: #fff;
}

footer{
    background-color: #413aa8;
    padding: 30px 0;
}

.footer-left p{
    color: #fff;
}




